<div class="overlay">
    <div class="container">

      <div class="overlay-content" id="contact">
        <div class="f80">
          <a href="tel:+493066763750" class="underline">+49 30 667 637 50</a><br>
          <a href="mailto:hello@ftwk.io" class='underline'>hello@ftwk.io</a>
        </div>
        <div class="address">
          FTWK GmbH & Co. KG <br>
          Gürtelstraße 25 <br>
          10247 Berlin
        </div>
        <div class="footer_links">
          <div>
            <a href="https://www.facebook.com/ftwkftwk" target="_blank" class="underline">Facebook</a>
            <a href="https://twitter.com/ftwk" target="_blank" class="underline">Twitter</a>
            <a href="https://www.linkedin.com/company/ftwk" target="_blank" class="underline">LinkedIn</a>
            <a href="https://www.instagram.com/ftwk.io/" target="_blank" class="underline">Instagram</a>
            <a href="https://medium.com/@FTWK" target="_blank" class="underline">Medium</a>
          </div>
          <div>
            <a href="http://ftwk.it/howto" target="_blank" class="underline">How to find us</a>
            <a href="#" class="overlay-open underline" data-overlay="imprint">Imprint</a>
          </div>
        </div>
      </div>

      <div class="overlay-content" id="imprint">
        Imprint<br><br>
        FTWK GmbH & Co. KG <br>
        Gürtelstraße 25 <br>
        10247 Berlin <br><br>

        Tel:  +49 30 667 637 50 <br>
        Fax: +49 30 667 637 53 <br><br>

        Handelsregisternr.: HRA 50013 B <br>
        Amtsgericht: Berlin-Charlottenburg <br>
        Geschäftsführer: Herr Lutz Haase <br>
        USt-IdNr. DE296648743 <br><br>

        <a href='mailto:hello@ftwk.io'>hello@ftwk.io</a><br>
        <a href='https://ftwk.io'>https://ftwk.io</a>
      </div>

      <div class="overlay-content" id="mobile_menu">
        <a href="/services" class="overlay-close" data-nav="services" dev-link>Services</a>
        <a href="/cases/" class="overlay-close" data-nav="cases">Cases</a>
        <a href="/space" class="overlay-close" data-nav="space" dev-link>Space</a>
        <a href="/people" class="overlay-close" data-nav="people" dev-link>People</a>
        <a href="#" class="overlay-open" data-overlay="contact">Contact</a>
      </div>

    </div>
</div>
