<div class="container c_thin back_wrap">
  <a href="/cases/" class="back-btn" dev-link>Go back</a>
</div>
<div class="main-menu">
  <a href="/services" class="hide-small" data-nav="services" dev-link>Services</a>
  <a href="/cases/" class="hide-small" data-nav="cases">Cases</a>
  <a href="/space" class="hide-small" data-nav="space" dev-link>Space</a>
  <a href="/people" class="hide-small" data-nav="people" dev-link>People</a>
  <a href="#" class="overlay-open hide-small" data-overlay="contact">Contact</a>
  <a href="#" class="overlay-open hide-medium-up" data-overlay="mobile_menu">Menu</a>
  <a href="#" class="overlay-close">Close</a>
  <div class="skater"></div>
</div>
