<div class="footer">
  <div class="inner container">
    <div class="footer_row">
      <div class="footer_block">
        FTWK GmbH & Co. KG <br>
        Gürtelstraße 25<br>
        10247 Berlin
      </div>
      <div class="footer_block">
        <a href="mailto:hello@ftwk.io" class='yellow_link underline'>hello@ftwk.io</a><br>
        <a href="tel:+493066763750" class="white_link underline">+49 30 667 637 50</a>
      </div>
      <div class="footer_block footer_top">
        <!-- <a href="http://ftwk.it/yeah" target="_blank" class="yellow_link underline">
          <svg class="icon-pdf"><use xlink:href="#ftwkIcons_icon-pdf"></use></svg>
          &nbsp;
          <span>Download Pitch Deck</span>
        </a> -->
        <!-- <span class="pipe hide-small">|</span>
        <a href="https://jobs.ftwk.io/" target="_blank" class="yellow_link underline">Jobs</a><br> -->
      </div>
    </div>
    <div class="footer_links">
      <div>
        <a href="https://www.facebook.com/ftwkftwk" target="_blank" class="grey_link underline">Facebook</a>
        <a href="https://twitter.com/ftwk" target="_blank" class="grey_link underline">Twitter</a>
        <a href="https://www.linkedin.com/company/ftwk" target="_blank" class="grey_link underline">LinkedIn</a>
        <a href="https://www.instagram.com/ftwk.io/" target="_blank" class="grey_link underline">Instagram</a>
        <a href="https://medium.com/@FTWK" target="_blank" class="grey_link underline">Medium</a>
      </div>
      <div>
        <a href="http://ftwk.it/howto" target="_blank" class="grey_link underline">How to find us</a>
        <a href="#" class="overlay-open grey_link underline" data-overlay="imprint">Imprint</a>
      </div>
    </div>
  </div>
</div>
