<a href="/" id="ftwk_logo" class="overlay-close">
  <svg viewbox="-2 0 104 100">
    <path id="p1" d="M 1,38 63,12 63,88 1,68 Z" fill="none" stroke="#FFD203" stroke-linejoin="round" />
    <path id="p2" d="M 1,38 35,49 35,58 1,68 Z" fill="none" stroke="#FFD203" stroke-linejoin="round" />
    <path id="p3" d="M 35,49 99,29 99,58 35,58 Z" fill="none" stroke="#FFD203" stroke-linejoin="round" />
    <path id="p4" d="M 99,29 63,12 63,88 99,58 Z" fill="none" stroke="#FFD203" stroke-linejoin="round" />
  </svg>
</a>
